

# Ignore Terraform files
**/*.terraform.lock.hcl
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup

# Ignore secrets
secrets/

# Ignore other specific files
storage-bucket/.terraform.lock.hcl
storage-bucket/.terraform/
